.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  border: 1px solid #95a5a6;
  border-radius: 5px;
  background-color: #7f8c8d;
  color: #fff;
  height: 60vh;
  margin: 20px;
  overflow-y: auto;
  font-size: 14px;
}

button {
  margin: 8px;
  height: 30px;
  width: 60px;
  font-size: 16px;
  border-radius: 4px;
  color: #34495e;
  background-color: greenyellow;
}
